:root {
  //Colors
    --body-color: #cfcece;
    --theme-color: #333;
    --theme-color2:#444;
    --primary-dark: #d53369;
    --primary-light: #cbad6d;
    --color-white: #fff;
//Grid

    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-horizontal: 6rem; 
}
  