.feature-box {
    background-color: rgba(#333,.7);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#333,.5);
    cursor: pointer;
    transition: transform .2s;
    height: 95%;

    &:hover {
        transform: translateY(-.5rem) scale(1.4);
    }

    &:before {
        content: "";
        position: absolute;
        background: var(--primary-dark);
        bottom: 0;
        left: 0;
        right:0;
        top: 100%;
        z-index: -1;
        transition:  top 0.09s ease-in;
      }
      &:hover:before {
        top: 95%;
      }
    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right ,var(--primary-dark),var(--primary-light));
        display: inline-block;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        
    }
}
