.section-about{
    background-color: var(--theme-color2);
    padding: 25rem 0 20rem 0;
    margin-top: -20rem;  
    display: flex;
    flex-direction: column;
}
.section-features {
    padding: 20rem 0;
    margin-top: -5rem;
    background: no-repeat center/cover;
    background-image: linear-gradient(
        to top,
        rgba(213, 51, 105, 0.671),
        25%,
        rgba(203, 173, 109, 0.604)
      ),
      url("../img/nat-4.jpg");

      clip-path: polygon(0 0,50% 5%,100% 0,100% 100%,50% 95%,0 100%);
}

.section-tours{
    background-color: var(--theme-color2);
    padding: 25rem 0 20rem 0;
    margin-top: -10rem;  
    display: flex;
    flex-direction: column;
}