.flexcolomn {
    display: flex;
    flex-direction: column;
}
.alignS-center {
    align-self: center;
}

.u-maring-bottom-big{
    margin-bottom: 8rem;
}

.u-maring-bottom-small {
    margin-bottom: 4rem;
}


.u-maring-bottom-small {
    margin-bottom: 1.3rem;
}
